@page
@model PortfolioPage.Pages.ProjectTracker.Component.DetailsModel

@{
    ViewData["Title"] = "Details";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">@Model.currentProject.title</a></li>
        <li class="breadcrumb-item active" aria-current="page">Home</li>
    </ol>
</nav>
<!--script>
    alert("Hello! I am an alert box!");
</script-->

<div class="container-lg">
    <div class="row">
        <div class="col card grad-bg-1">                
            <div class="row justify-content-center">
                <!-- Cards view start -->
                <partial name="_ProjectComponentCardPartial" />                
            </div>
        </div>                    
    </div>
    <hr>
</div>

@if(!(!Model.componentList?.Any() ?? false)){
    <div class="row">
        <div class="col card grad-bg-2">
            <div class="row mx-2 h4 justify-content-center">
                <!-- Cards view start -->
                <partial name="_ProjectComponentCardPartial" />
            </div>
        </div>
    </div>
}