@page
@model IndexModel
@{
ViewData["Title"] = "Home page";
}

<div class="container-md">
    <div class="text-center">
        <div class="display-4">Roshan Manuel</div>
        <p>This is my portfolio:</p>
        <div class="row">
            <!-- Project tracker showcase card --> 
            <div class="col-md">
                <div class="card w-100">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                            content.</p>
                        <a href="./ProjectTracker/summary" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                
            </div>
            <div class="col-md d-block d-md-none mb-2 w-auto"></div>
            
            <!-- two row column showcasing two projects --> 
            <div class="col-md">
                <!-- {Project A} tracker --> 
                <div class="row mb-2">
                    <div class="col-md">
                        <div class="card w-100">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                                    content.</p>
                                <a href="./ProjectTracker/" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>                    
                </div>
                
                <!-- {Project B} tracker -->
                <div class="row">
                    <div class="col-md">
                        <div class="card w-100">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                                    content.</p>
                                <a href="./ProjectTracker/" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
                
        </div>
    </div>
</div>