@page
@model IndexModel
@{
ViewData["Title"] = "Home page";
}

<div class="container-md">    
        <div class="display-4 mb-5 mt-4">Roshan Manuel</div>
        @*<a href="./Tests/" class="btn btn-primary">Test Page</a>
        <a href="./ProjectTracker/MyProjects" class="btn btn-primary">My projects</a>*@
        <hr>        
        
        <div class="row px-3">
            @* Project tracker showcase card *@
            <div class="col-md">
                
                @* https://stackoverflow.com/questions/2041388/how-to-remove-the-underline-for-anchorslinks *@
                <a class="card w-100" href="./ProjectTracker/Project?user=RoshanJM" style="text-decoration: none !important;">                    
                    <img src="~/resources/pTracker_dashboardPage.png" class="card-img-top rounded-top" 
                    style="max-width: 696px;margin-left: auto; margin-right: auto;" alt="...">                                        
                    <i class="text-muted text-center">Dashboard view from the application</i>
                    <div class="card-body">
                        <div class="h3 card-title">Project Tracker</div>                        
                        <p class="card-text text-muted">
                            (In progress) An application designed to help individual users manage multiple projects at once. 
                        </p>                        
                        <p class="card-text text-muted">
                            It is built using ASP.NET, and implements access to pages via authentication and simple authorization policies.
                            It processes HTTP requests and dynamically generates responses via microsoft's Razor Page models.
                        </p>
                    </div>
                </a>                                    
            </div>
            @* https://getbootstrap.com/docs/4.4/utilities/display/ *@
            <div class="col-md d-block d-md-none mb-2 w-auto"></div>
            
            @* two row column showcasing two projects 
            <div class="col-md">
                <!-- {Project A} tracker -> 
                <div class="row mb-2">
                    <div class="col-md">
                        <div class="card w-100">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Email server setup</h5>
                                <p class="card-text text-muted">Pending</p>
                            </div>
                        </div>
                    </div>                    
                </div>
                
                <!-- {Project B} tracker ->
                <div class="row">
                    <div class="col-md">
                        <div class="card w-100">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Podcast alarm clock</h5>
                                <p class="card-text text-muted">Pending</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
                
        </div>
    
</div>