@page
@model PortfolioPage.Pages_ProjectTracker_Project.CreateModel;

@{
    ViewData["Title"] = "Create";
}

<style>
    .grad-bg-1 {
        background-image: linear-gradient(5deg, #8400ac 0%, #007580 100%);
        border-color: grey;
        border-width: 3px;
        color: white;
    }

    .grad-bg-2 {
        background-image: linear-gradient(355deg, #8400ac 0%, #007580 100%);
        border-color: grey;
        color: white;
    }

    .bg-grey {
        background-color: grey;
        border-color: #8400ac;
    }

    .prj-title {
        color: grey;
    }
</style>

<!-- TODO: Implement this correctly: https://stackoverflow.com/questions/6578495/how-do-i-display-the-displayattribute-description-attribute-value -->
<div class="container-lg">
    <div class="row">
        <div class="col-md-6">
            <form method="post">                
                <div asp-validation-summary="ModelOnly" class="text-danger">
                </div>
                <div class="row">
                    <div class="col-12 form-group">
                        <label asp-for="projectVM.title" class="control-label"></label>
                        <input asp-for="projectVM.title" class="form-control" />
                        <span asp-validation-for="projectVM.title" class="text-danger"></span>
                    </div>
                    <div class="col-auto form-group">
                        <label asp-for="projectVM.startDate" class="control-label"></label>
                        <input asp-for="projectVM.startDate" class="form-control" />
                        <span asp-description-for="projectVM.startDate" class="form-text text-muted"></span>
                        <span asp-validation-for="projectVM.startDate" class="text-danger"></span>
                    </div>
                    <div class="col-auto form-group">
                        <label asp-for="projectVM.completionDeadline" class="control-label"></label>
                        <input asp-for="projectVM.completionDeadline" class="form-control" />
                        <span asp-validation-for="projectVM.completionDeadline" class="text-danger"></span>
                    </div>      
                </div>
                <div class="row">
                    <div class="col mh-40">
                        <div class="form-group">
                            <label asp-for="projectVM.goalDescription" class="control-label"></label>
                            <textarea asp-for="projectVM.goalDescription" class="form-control d-flex" rows="8"></textarea>
                            <span asp-validation-for="projectVM.goalDescription" class="text-danger"></span>
                        </div>
                    </div>
                </div>                  
                <div class="row">                    
                    <div class="col-auto form-group">
                        <label asp-for="projectVM.currentProjectStatus" class="control-label"></label>
                        <select asp-for="projectVM.currentProjectStatus" class="form-control"
                            asp-items="Html.GetEnumSelectList<PortfolioPage.Models.project.projectStatus>()"></select>
                        <span asp-validation-for="projectVM.currentProjectStatus" class="text-danger"></span>
                    </div>
                    <div class="col-auto form-group">
                        <label asp-for="projectVM.currentProjectPhase" class="control-label"></label>
                        <select asp-for="projectVM.currentProjectPhase" class="form-control" 
                            asp-items="Html.GetEnumSelectList<PortfolioPage.Models.project.projectPhase>()"></select>
                        <span asp-validation-for="projectVM.currentProjectPhase" class="text-danger"></span>
                    </div>  
                </div>  
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="projectVM.isPublic" /> @Html.DisplayNameFor(model => model.projectVM.isPublic)
                        <span class="text-muted">Learn more about this setting here</span>
                    </label>                        
                </div> 
                <div class="form-group mt-3">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

