@page "{id:int}"
@model PortfolioPage.Pages.ProjectTracker.Project.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div class="container-lg">
    <div class="row">
        <div class="col card grad-bg-1">                
            <div class="row justify-content-center">
                @{
                    Model.addedHeader = new List<string>();
                    Model.addedHeader.Add("Project Summary");
                    Model.displaySingleProject = true;
                }
                <!-- Cards view start -->
                <partial name="_ProjectCardPartial" />
                @{
                    Model.addedHeader.Clear();
                }
            </div>
        </div>                    
    </div>
    <hr>
</div>

@if(!(!Model.componentList?.Any() ?? false)){
    <div class="row">
        <div class="col card grad-bg-2">
            <div class="row mx-2 h4 justify-content-center">
                <!-- Cards view start -->
                <partial name="_ProjectComponentCardPartial" />
            </div>
        </div>
    </div>
}