@page
@model PortfolioPage.Pages.ProjectTracker.Project.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>project</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>            
            <div class="form-group">
                <label asp-for="projectVM.title" class="control-label"></label>
                <input asp-for="projectVM.title" class="form-control" />
                <span asp-validation-for="projectVM.title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="projectVM.goalDescription" class="control-label"></label>
                <input asp-for="projectVM.goalDescription" class="form-control" />
                <span asp-validation-for="projectVM.goalDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="projectVM.startDate" class="control-label"></label>
                <input asp-for="projectVM.startDate" class="form-control" />
                <span asp-validation-for="projectVM.startDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="projectVM.completionDate" class="control-label"></label>
                <input asp-for="projectVM.completionDate" class="form-control" />
                <span asp-validation-for="projectVM.completionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="projectVM.completionDeadline" class="control-label"></label>
                <input asp-for="projectVM.completionDeadline" class="form-control" />
                <span asp-validation-for="projectVM.completionDeadline" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="projectVM.currentProjectStatus" class="control-label"></label>
                <select asp-for="projectVM.currentProjectStatus" class="form-control"
                    asp-items="Html.GetEnumSelectList<PortfolioPage.Models.project.projectStatus>()"></select>
                <span asp-validation-for="projectVM.currentProjectStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="projectVM.currentProjectPhase" class="control-label"></label>
                <select asp-for="projectVM.currentProjectPhase" class="form-control"
                    asp-items="Html.GetEnumSelectList<PortfolioPage.Models.project.projectPhase>()"></select>
                <span asp-validation-for="projectVM.currentProjectPhase" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="projectVM.isPublic" /> @Html.DisplayNameFor(model => model.projectVM.isPublic)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="ProjectTracker/MyProjects">Back to Dashboard</a>
</div>

