@page
@model PortfolioPage.Pages.ProjectTracker.Project.IndexModel

@{
ViewData["Title"] = "Index";
}
<style>
    .grad-bg-1 {
        background-image: linear-gradient(5deg, #8400ac 0%, #007580 100%);
        border-color: grey;
        border-width: 3px;
        color: white;
    }

    .grad-bg-2 {
        background-image: linear-gradient(355deg, #8400ac 0%, #007580 100%);
        border-color: grey;
        color: white;
    }

    .bg-grey {
        background-color: grey;
        border-color: #8400ac;
    }

    .prj-title {
        color: grey;
    }
</style>

<div class="container-lg">
    <div class="row justify-content-center">
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Application still in development</strong>, screens and logic are subject to change, but feel free to create an account and play around. 
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
    </div>

    @if(Model.RequestedUserFound){
        <div class="row">
            <div class="col card grad-bg-1">
                <p class="row h4 my-5 mb-4 px-3">Viewing&nbsp;<b>@Model.requestedUserName's</b>&nbsp;public projects</p>
            </div>
        </div>
        <hr>
    }

    
    @if(!Model.RequestedUserFound){
        <div class="row">
            <div class="col">
                <div class="display-4">User @Model.requestedUserName was not found</div>                                                 
            </div>
        </div>
        return;
    }

    @* https://stackoverflow.com/questions/24390005/checking-for-empty-or-null-liststring *@
    @* https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/operators/null-coalescing-operator *@
    @if((!Model.projectList?.Any() ?? false)) {
        <div class="row">
            <div class="col">
                <div class="display-4">User @Model.requestedUserName has no publicly viewable projects</div>                                                 
            </div>
        </div>        
        return;
    }
    
</div>
    
<div class="row">
    <div class="col card grad-bg-2">
        <div class="row mx-2 justify-content-center">
            <!-- Cards view start -->
            <partial name="_ProjectCardPartial" />
        </div>
    </div>
</div>
