@page
@model PortfolioPage.Pages_ProjectTracker.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Project</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Project.Title" class="control-label"></label>
                <input asp-for="Project.Title" class="form-control" />
                <span asp-validation-for="Project.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project.Description" class="control-label"></label>
                <input asp-for="Project.Description" class="form-control" />
                <span asp-validation-for="Project.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project.ConceptionDate" class="control-label"></label>
                <input asp-for="Project.ConceptionDate" class="form-control" />
                <span asp-validation-for="Project.ConceptionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project.CompletionDate" class="control-label"></label>
                <input asp-for="Project.CompletionDate" class="form-control" />
                <span asp-validation-for="Project.CompletionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project.CompletionDeadline" class="control-label"></label>
                <input asp-for="Project.CompletionDeadline" class="form-control" />
                <span asp-validation-for="Project.CompletionDeadline" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project.numberOfComponents" class="control-label"></label>
                <input asp-for="Project.numberOfComponents" class="form-control" />
                <span asp-validation-for="Project.numberOfComponents" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project.currentProjectStatus" class="control-label"></label>
                <input asp-for="Project.currentProjectStatus" class="form-control" />
                <span asp-validation-for="Project.currentProjectStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
