@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Track your projects</h1>
    <p>Roshan's project tracking application</p>
    // If user is not logged in:
    // Dislay a summary of the application
    // Ask user if they want to register for an account and use the tracker themselves.
    // then, display a Summary of Roshan's projects

    // If the user is logged in, display a welcome message, some information on how to 
    // get started and use the project tracker
</div>
