@page
@model PortfolioPage.Pages.ProjectTracker.MyProjectsModel

@{
ViewData["Title"] = "Index";
}
<style>
    .grad-bg-1 {
        background-image: linear-gradient(5deg, #8400ac 0%, #007580 100%);
        border-color: grey;
        border-width: 3px;
        color: white;
    }

    .grad-bg-2 {
        background-image: linear-gradient(355deg, #8400ac 0%, #007580 100%);
        border-color: grey;
        color: white;
    }

    .bg-grey {
        background-color: grey;
        border-color: #8400ac;
    }

    .prj-title {
        color: grey;
    }
</style>

<div class="container-lg">

    <div class="row">
        <div class="col card grad-bg-1">
            <div class="display-3 mb-4 ml-1">
                Project Dashboard
            </div>
            <p class="col h4 mb-4">
                Review ongoing and completed projects here
            </p>
        </div>                    
    </div>
    <hr>

    @* Help user get started if there are no projects *@
    @* https://stackoverflow.com/questions/24390005/checking-for-empty-or-null-liststring *@
    @* https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/operators/null-coalescing-operator *@
    @if(!Model.projectList?.Any() ?? false){
        <div class="row">
            <div class="col">
                <div class="display-4 mb-2">Create your first project:</div>
                <a class="col col-md-2 btn btn-success align-self-center ml-auto my-2"
                    asp-page="/ProjectTracker/Project/Create">
                    <i>New Project</i>
                </a>
                <br>
                <p>You can learn more about the project management workflow and how the tracker works here</p>
            </div>
        </div>
        return;
    }
    <!-- https://getbootstrap.com/docs/4.4/layout/grid/#horizontal-alignment -->
    <div class="row mb-4">
        <div class="col-md-9">
            <div class="display-4">Your ongoing projects</div>            
        </div>
        <a class="col col-md-2 btn btn-success align-self-center ml-auto my-2"
            asp-page="/ProjectTracker/Project/Create">
            <i>New Project</i>
        </a>        
    </div>
            
    <div class="row">
        <div class="col card grad-bg-2">
            <partial name="_ProjectCardPartial" />
        </div>
    </div>
    
</div>
