@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">    
    <h1 class="display-4">Track your projects</h1>
    <p>Roshan's project tracking application</p>
    <div class="card">
        <p>If user is not logged in:
        Dislay nothing but display a login form and information about the project tracker
    
        A different url should be linked from the portfolio page. That URl should take users to a summary of Roshan's projects.
        All my projects will be public. 

        That page should have a link to a "Try it yourself" page, which will be this page!
        </p>
    </div>
</div>