@page
@model PortfolioPage.Pages.ProjectTracker.Issue.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div class="container-lg">
    <div class="row">
        <div class="col card grad-bg-1">                
            <div class="row px-5 justify-content-center">
                @{
                    Model.addedHeader = new List<string>();
                    Model.addedHeader.Add("Project");

                    Model.displaySingleProject = true;
                    <partial name="_ProjectCardPartial" />
                    if(Model.currentComponent != null){
                        Model.addedHeader.Clear();
                        Model.addedHeader.Add("Component");
                        Model.displaySingleComponent = true;
                        <partial name="_ProjectComponentCardPartial" />
                    }
                    Model.addedHeader.Clear();
                }               
            </div>
        </div>                    
    </div>
    <hr>
</div>

<!-- Update Cards view start -->  
@if(!(!Model.issueList?.Any() ?? false)){
    <div class="row">
        <div class="col card grad-bg-2">
            <div class="row mx-2 justify-content-center">
                <!-- Cards view start -->
                <partial name="_ProjectIssueCardPartial" />
            </div>
        </div>
    </div>
}else{
    <span class="mt-2 h3">No issues</span>
}